

.spinner
{
    width:100%;
    display:flex;
    justify-content: center;
    padding:40px;
}

.spinning
{
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}