@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding:0px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000;
    color:aliceblue;
}

a{
    text-decoration: none;
    color:white;
}

